<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gxuc.runfast.shop">

    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 手机wifi状态改变 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 外置存储存取权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 一些手机设置此权限才可以debug -->
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />

    <!-- 极光推送 -->
    <permission
        android:name="com.gxuc.runfast.shop.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- 控制呼吸灯，振动器等，用于新消息提醒 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!--  于开启 debug 版本的应 在6.0 系统上 层叠窗 权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".application.CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar">

        <activity
            android:name=".activity.LauncherActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WelcomeEntranceActionBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="444f905bcb7010882717cae2a41f0653" />
        <!--android:value="8ce45bcbc60d5e1a26515c6df303af70" />-->
        <!-- <meta-data -->
        <!-- android:name="com.amap.api.v2.apikey" -->
        <!-- android:value="5272f4f15e779adfcf76756efe57d27f"/> -->

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.gxuc.runfast.shop.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".activity.LoginActivity"
            android:label="跑腿快车登录"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.LoginQucikActivity"
            android:label="跑腿快车登录"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BreakfastActivity"
            android:label="早餐"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.usercenter.UserInfoActivity"
            android:label="详细资料"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.usercenter.AddressManagerActivity"
            android:label="地址管理"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BusinessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ConfirmOrderActivity"
            android:label="确认订单"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.usercenter.WalletActivity"
            android:label="我的钱包"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PayDetailActivity"
            android:label="详情"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.usercenter.MoneyDetailActivity"
            android:label="收支明细"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProductDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.usercenter.WalletRechargeActivity"
            android:label="钱包充值"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.usercenter.UpdatePasswordActivity"
            android:label="修改密码"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.usercenter.UpdateOldPwdActivity"
            android:label="原密码验证修改"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.usercenter.UpdateMessageActivity"
            android:label="短信验证码修改"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.usercenter.CashRecordActivity"
            android:label="提现记录"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.usercenter.CashActivity"
            android:label="提现"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.usercenter.CouponActivity"
            android:label="优惠券"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.usercenter.BankActivity"
            android:label="我的钱包"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.usercenter.SelectBankActivity"
            android:label="选择银行卡"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.usercenter.AddBankActivity"
            android:label="添加银行卡"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.usercenter.IntegralActivity"
            android:label="积分明细"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ForgotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.usercenter.AboutActivity"
            android:label="关于跑腿快车"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.usercenter.HelpCenterActivity"
            android:label="帮助中心"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.usercenter.AddressSelectActivity"
            android:label="地址管理"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.usercenter.UpdateAddressActivity"
            android:label="编辑地址"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.usercenter.JoinBusinessActivity"
            android:label="加盟合作"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.usercenter.ConsultationActivity"
            android:label="客服咨询"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.usercenter.ComplaintActivity"
            android:label="投诉"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SearchProductActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.usercenter.CollectionActivity"
            android:label="我的收藏"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DiscountActivity"
            android:label="优惠活动"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DeliveryAddressActivity"
            android:label="管理收货地址"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CashCouponActivity"
            android:label="领券专区"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ordercenter.OrderDetailActivity"
            android:label="订单详情"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BusinessInfoActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ordercenter.OrderRemarkActivity"
            android:label="备注"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.homepage.TopImageLinkActivity"
            android:label="活动详情"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ordercenter.OrderEvaluationActivity"
            android:label="商家评价"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ordercenter.OrderStatusActivity"
            android:label="订单状态"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activity.ordercenter.OrderComplainActivity"
            android:label="投诉"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.usercenter.ChangeNameActivity"
            android:label="修改信息"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.usercenter.MyEnshrineActivity"
            android:label="我的收藏"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ordercenter.PayChannelActivity"
            android:label="支付"
            android:screenOrientation="portrait" />

        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.usercenter.UserBankActivity"
            android:label="提现账户"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ordercenter.PaySuccessActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ShowImageActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.WebActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.usercenter.BindMobileActivity"
            android:label="绑定手机"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.purchases.PurchasesActivity"
            android:label="跑腿代购"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.purchases.DeliveryOrderActivity"
            android:label="跑腿代购订单"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.purchases.DeliveryOrderDetailActivity"
            android:label="订单详情"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.BusinessLicenceActivity"
            android:label="营业资质"
            android:screenOrientation="portrait" />

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />
                <category android:name="com.gxuc.runfast.shop" />
            </intent-filter>
        </service>

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <category android:name="com.gxuc.runfast.shop" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.gxuc.runfast.shop" />
            </intent-filter>
        </activity>
        <!-- SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@style/MyDialogStyle">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.gxuc.runfast.shop" />
            </intent-filter>
        </activity>

        <!-- Required SDK核心功能-->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false"></service>

        <!-- Required SDK核心功能-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />

        <!-- Required since 3.0.7 -->
        <!-- 新的tag/alias接口结果返回需要开发者配置一个自定的广播 -->
        <!-- 该广播需要继承JPush提供的JPushMessageReceiver类, 并如下新增一个 Intent-Filter -->
        <!-- User defined.  户 定义的 播接收器-->
        <receiver
            android:name=".receiver.JPushReceiver"
            android:enabled="true">
            <intent-filter>
                <!--Required 用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!--Required 用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!--Required 用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!--Required 用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <category android:name="com.gxuc.runfast.shop" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.AppInstallReceiver"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5a682635f43e482964000061"></meta-data>

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1106021946" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

    </application>

</manifest>